<h1>Admins List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Contact Number</th>
        </tr>
        
            <tr>
            <td><%= current_admin.full_name %></td>
            <td><%= current_admin.email %></td>
            <td><%= current_admin.contact_number %></td>
            </tr>
        
    </table>
    <%= link_to "Edit", edit_admin_registration_path, class: "admin-button" %> 
    <%= link_to "Delete", admin_session_path, class: "admin-button" %> 