<h1>Students List</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Contact Number</th>
            <th>Parent Name</th>
            <% if admin_signed_in? or teacher_signed_in? %>
                <th>Edit</th>
            <% end %>
           
        </tr>
        <% @student.each do |students| %>
            <tr>
            <td><%= students.full_name %></td>
            <td><%= students.email %></td>
            <td><%= students.contact_number %></td>
            <td><%= students.parent_name %></td>
            <% if admin_signed_in? or teacher_signed_in? %>
                <td><%= link_to "Edit", edit_student_registration_path %></td>
            <% end %>
        
            </tr>
        <% end %>
    </table>
    